@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono';
}

.App {
  text-align: center;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  padding: 2em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Main {
  margin-top: 4em;
}

.joke-container {
  margin-top: 2em;
}

@media screen and (min-width: 415px) {
  .App-header {
    flex-direction: row;
  }
}
